@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("./fonts/poppins-light-webfont.woff2") format("woff2"), url("./fonts/poppins-light-webfont.woff") format("woff"), url("./fonts/Poppins-Light.ttf") format("ttf");
  font-display: optional;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"), url("./fonts/poppins-regular-webfont.woff") format("woff"), url("./fonts/Poppins-Regular.ttf") format("ttf");
  font-display: optional;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./fonts/poppins-semibold-webfont.woff2") format("woff2"), url("./fonts/poppins-semibold-webfont.woff") format("woff"), url("./fonts/Poppins-SemiBold.ttf") format("ttf");
  font-display: optional;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 1110px;
  margin: auto;
  padding: 72px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.header__title {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  line-height: 50px;
  font-size: 2.25rem;
}

.header__description {
  color: hsl(229, 6%, 66%);
  font-size: 15px;
  max-width: 500px;
}

.cards {
  position: relative;
  display: grid;
  gap: 32px;
  grid-template-areas:
    ".          TeamBuilder          ."
    "Supervisor TeamBuilder Calculator"
    "Supervisor Karma       Calculator"
    ".          Karma                .";
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-top-style: solid;
  border-top-width: 5px;
}

.card__title {
  color: hsl(234, 12%, 34%);
}

.card__text {
  color: hsl(229, 6%, 66%);
  margin-bottom: 32px;
  line-height: 24px;
  font-size: 15px;
}

.card__imageContainer {
  display: flex;
  justify-content: flex-end;
}

.card-1 {
  border-top-color: hsl(180, 62%, 55%);
  grid-area: Supervisor;
}
.card-2 {
  border-top-color: hsl(0, 78%, 62%);
  grid-area: TeamBuilder;
}
.card-3 {
  border-top-color: hsl(34, 97%, 64%);
  grid-area: Karma;
}
.card-4 {
  border-top-color: hsl(212, 86%, 64%);
  grid-area: Calculator;
}

@media (max-width: calc(1110px + 64px)) {
  .wrapper {
    padding: 32px;
  }
  .cards {
    grid-template-areas:
      "Supervisor TeamBuilder"
      "Karma      Calculator";
    grid-template-columns: 1fr 1fr;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-areas:
      "Supervisor "
      "TeamBuilder"
      "Karma"
      "Calculator";
    grid-template-columns: 1fr;
  }
}
